<%= turbo_stream.replace "header_frame" do %>
  <nav class="navbar navbar-expand-lg w-100 header shadow">
    <div class="container-fluid">
      <span style="color: #fff;"><%= @names %></span>
    </div>
  </nav>
<% end %>

<%= turbo_stream.replace "main" do %>
  <%= render "chatrooms/chatroom", message_groups: @message_groups, chatroom: @chatroom, names: @names %>
<% end %>