<h1>Editing message group</h1>

<%= render "form", message_group: @message_group %>

<br>

<div>
  <%= link_to "Show this message group", @message_group %> |
  <%= link_to "Back to message groups", message_groups_path %>
</div>
