<div class="d-flex">
  <%= render "shared/sidebar",
             total_friendship_requests_received: @total_friendship_requests_received,
             users: @users,
             chatroom_groups: @chatroom_groups
  %>

  <div class='p-0 w-100' style="height: 100vh">
    <%= render 'friendships/header',
        current_user: @current_user,
        total_friendship_requests_received: @total_friendship_requests_received
    %>
    <div class="p-4" style="height: calc(100% - 45px)">
      <%= render 'available_friendships/index', friendship_users: @friendship_users %>
    </div>
  </div>
</div>