.chatroom {
  &__message_groups {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__user_avatars_container {
    width: 50px;
    height: 40px;
    overflow: hidden;
  }

  &__user_names {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
  }
}